{
    "remapKeys": {
        "inProcess": [
{{- /* Ctrl <-> CapsLock swap (disabled)
            {
                "originalKeys": "20",
                "newRemapKeys": "162"
            },
            {
                "originalKeys": "162",
                "newRemapKeys": "20"
            }
*/ -}}
        ]
    },
    "remapShortcuts": {
        "global": [],
        "appSpecific": []
    }
}
