[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    editor = nvim
    pager = delta
{{ if eq .chezmoi.os "windows" }}
    autocrlf = input
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[credential]
    helper = manager
{{ end }}
[init]
    defaultBranch = main

[delta]
    navigate = true
    dark = true
    line-numbers = true

[ghq]
    root = ~/ghq

