[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    editor = nvim
{{ if eq .chezmoi.os "windows" }}
    autocrlf = input
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[credential]
    helper = manager
{{ end }}
[init]
    defaultBranch = main

[ghq]
    root = ~/ghq

