{{ if and (eq .chezmoi.os "linux") (not .is_container) -}}
#!/bin/bash
# hash: {{ include ".chezmoiscripts/linux/run_onchange_before_01-install-apt-packages.sh.tmpl" | sha256sum }}
set -euo pipefail

echo "Installing apt packages..."

if ! command -v sudo >/dev/null 2>&1; then
    echo "Error: sudo is not installed."
    exit 1
fi

sudo apt update
sudo apt install -y \
    build-essential \
    ca-certificates \
    chafa \
    cmake \
    curl \
    git \
    gpg \
    libbz2-dev \
    libffi-dev \
    liblzma-dev \
    libncurses-dev \
    libreadline-dev \
    libsqlite3-dev \
    libssl-dev \
    nvtop \
    openssh-server \
    p7zip-full \
    pkg-config \
    poppler-utils \
    rsync \
    tar \
    tmux \
    tree \
    unzip \
    wget \
    xclip \
    zlib1g-dev \
    zsh
{{ end -}}


